.form-container
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-left-container' }) do |f|
    = render 'devise/shared/error_messages', resource: resource
    .fields-container
      %h2 Create new account
      %br
      = f.text_field :name, class: 'input-field', placeholder: 'Name'
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input-field', placeholder: 'Email'
      = f.password_field :password, autocomplete: 'new-password', class: 'input-field', placeholder: 'Password'
      = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input-field', placeholder: 'Password Confirmation'
      = f.submit 'Sign up', class: 'sign-button'

  .vertical-line

  .form-rigth-container
    .fields-container
      .title-field
      - if controller_name != 'sessions'
        = link_to 'Log in', new_session_path(resource_name), id: 'sign-in', class: 'sign-in-link'
      %p or
      #fb-root
      %script{ async: '', crossorigin: 'anonymous', defer: 'defer', nonce: 'JFUyOiof', src: 'https://connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v7.0&appId=186950186053900&autoLogAppEvents=1' }
      .fb-login-button{ 'data-auto-logout-link' => 'false', 'data-button-type' => 'continue_with', 'data-layout' => 'default', 'data-size' => 'large', 'data-use-continue-as' => 'false', 'data-width' => '' }
