.sidebar
  .logo
    = link_to image_tag('/assets/logo.png', class: 'image'), { action: 'index', controller: 'homepage' }
  .sign-in
    = link_to image_tag('/assets/person.png', class: 'image'), { action: 'index', controller: 'homepage' }
  .daily-products
    = link_to image_tag('/assets/products.png', class: 'image'), { action: 'index', controller: 'homepage' }, class: 'logo-image'
  .newsletter
    = link_to image_tag('/assets/email.png', class: 'image'), { action: 'index', controller: 'homepage' }, class: 'logo-image'
  .add-locals
    = link_to image_tag('/assets/logo.png', class: 'image'), { action: 'index', controller: 'homepage' }, class: 'logo-image'
  .your-recomendations
    = link_to image_tag('/assets/logo.png', class: 'image'), { action: 'index', controller: 'homepage' }, class: 'logo-image'
  .div
